*.o
tags

assignments/PA2/*.d
assignments/PA2/lexer
assignments/PA2/cgen
assignments/PA2/semant
assignments/PA2/parser
assignments/PA2/mycoolc
assignments/PA2/grading
assignments/PA2/handle_flags.cc
assignments/PA2/lextest.cc
assignments/PA2/stringtab.cc
assignments/PA2/utilities.cc
assignments/PA2/cool-lex.cc

assignments/PA3/*.d
assignments/PA3/cool.output
assignments/PA3/cool.tab.h
assignments/PA3/lexer
assignments/PA3/cgen
assignments/PA3/semant
assignments/PA3/parser
assignments/PA3/mycoolc
assignments/PA3/myparser
assignments/PA3/grading
assignments/PA3/cool-tree.aps
assignments/PA3/cool-tree.cc
assignments/PA3/cool-tree.handcode.h
assignments/PA3/dumptype.cc
assignments/PA3/handle_flags.cc
assignments/PA3/parser-phase.cc
assignments/PA3/stringtab.cc
assignments/PA3/tokens-lex.cc
assignments/PA3/utilities.cc
assignments/PA3/tree.cc
assignments/PA3/cool-parse.cc

assignments/PA4/*.d
assignments/PA4/lexer
assignments/PA4/cgen
assignments/PA4/semant
assignments/PA4/parser
assignments/PA4/symtab_example
assignments/PA4/mycoolc
assignments/PA4/mysemant
assignments/PA4/grading
assignments/PA4/ast-lex.cc
assignments/PA4/ast-parse.cc
assignments/PA4/cool-tree.aps
assignments/PA4/cool-tree.cc
assignments/PA4/cool-tree.handcode.h
assignments/PA4/dumptype.cc
assignments/PA4/handle_flags.cc
assignments/PA4/semant-phase.cc
assignments/PA4/stringtab.cc
assignments/PA4/symtab_example.cc
assignments/PA4/tree.cc
assignments/PA4/utilities.cc

assignments/PA5/*.d
assignments/PA5/lexer
assignments/PA5/cgen
assignments/PA5/semant
assignments/PA5/parser
assignments/PA5/mycoolc
assignments/PA5/grading
assignments/PA5/ast-lex.cc
assignments/PA5/ast-parse.cc
assignments/PA5/cgen-phase.cc
assignments/PA5/cool-tree.cc
assignments/PA5/cool-tree.handcode.h
assignments/PA5/dumptype.cc
assignments/PA5/handle_flags.cc
assignments/PA5/stringtab.cc
assignments/PA5/tree.cc
assignments/PA5/utilities.cc
assignments/PA5/example.s
